@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')

$Montserrat: 'Montserrat', sans-serif;

body 
  padding: 50px
  font-family: $Montserrat
  background-image: url("../images/soccer.jpg")
a
  color: #00B7FF
